requests
requests[security]
requests-cache
babelfish
tmdbsimple
mutagen
guessit
subliminal
python-dateutil
stevedore
qtfaststart
pymediainfo
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
